<div class="thread-content">
    <div class="thread-inner">
        <h1 class="center-self">FLAC 無損音樂索引</h1>
        <div class="list-control center-self">
            <input type="text" id="searchInput" placeholder="搜尋">
        </div>

        <div class="gallery-wrap center-self">
            <ul id="gallery" class="gallery">
                <!--
                <li class="gallery-item">
                    <a href="#" class="image-wrap">
                        <img class="album-image" src="https://a.radikal.ru/a43/2103/16/ae7485e1e3b2.jpg">
                        <div class="overlay">
                            <div class="album-info">
                                <h2>Lilac</h2>
                                <h3>IU</h3>
                                <div class="album-meta">Kpop &#8226; 2021</div>
                            </div>
                        </div>
                    </a>
                </li>
                -->
            </ul>
        </div>
    </div>
    <div class="misc">
    </div>

    <div id="downloadModal" class="download-modal">
        <div class="download-modal-content">
            <div class="download-modal-header">
                <h1 class="download-modal-title">載點</h1>
                <span class="download-modal-close">&times;</span>
            </div>
            <div class="download-modal-body">
            </div>
            <div class="download-modal-footer"></div>
        </div>
    </div>

</div>

{{ data|json_script:"data-elem" }}
<script>
    data = JSON.parse(document.getElementById('data-elem').textContent);
    //data = {% autoescape off %} {{ data }} {% endautoescape %};
    let g = document.getElementById("gallery");
    var dlModal = document.getElementById("downloadModal");

    function populateDownloadModal(modal, index) {
        for (let i=0; i<data[index].release_set.length; i++) {
            let segment = document.createElement("div");
            segment.classList = ["segment"];
            segment.innerHTML = "<div class=\"release-meta\"><h3></h3></div>"
            let title = segment.querySelector(".release-meta h3");
            title.innerText = data[index].release_set[i].release_name.replace(/\_/g, ' ');
            
            for (let j=0; j<data[index].release_set[i].link_set.length; j++) {
                let linkDiv = document.createElement("div");
                linkDiv.classList = ["download-link"];
                linkDiv.innerHTML = "<a href=\"#a\"></a><div class=\"link-passcode\"></div>";
                linkDiv.querySelector("a").innerText = data[index].release_set[i].link_set[j].url;
                linkDiv.querySelector("a").addEventListener('click', handleAElemClick, false);
                linkDiv.querySelector(".link-passcode").innerText = data[index].release_set[i].link_set[j].passcode;
                segment.appendChild(linkDiv);
            }
            modal.querySelector(".download-modal-body").appendChild(segment);
        }
    }

    function handleAElemClick(e) {
        console.log(e.target);
        e.target.id = 'download-link';
        window.open(e.target.innerText);
        fireApi();
    }

    function resetDownloadModal(modal) {
        modal.querySelector(".download-modal-body").innerHTML = '';
    }

    function populateGallery(ul, index, title, artist, cover_art, genre, date) {
        let li = document.createElement("li");
        li.classList = ["gallery-item"];
        ul.appendChild(li);

        let a = document.createElement("a");
        a.classList = ["image-wrap"];
        a.id = index;
        a.href = "#a";
        li.appendChild(a);

        let img = document.createElement("img");
        img.classList = ["album-image"];
        img.src = cover_art;
        a.appendChild(img);

        let overlay = document.createElement("div");
        overlay.classList = ["overlay"];
        a.appendChild(overlay);

        let infowrap = document.createElement("div");
        infowrap.classList = ["album-info"];
        overlay.appendChild(infowrap);

        let h2 = document.createElement("h2");
        h2.innerText = title;
        infowrap.appendChild(h2);

        let h3 = document.createElement("h3");
        h3.innerText = artist;
        infowrap.appendChild(h3);

        let meta = document.createElement("div");
        meta.classList = ["album-meta"];
        meta.innerHTML = genre + " &#8226; " + date;
        infowrap.appendChild(meta);
    }

    function handleClicks(e) {
        dlModal.style.display = "block";
        let targetIndex = e.currentTarget.querySelector('a').id;
        populateDownloadModal(dlModal, targetIndex);
    }

    function handleSearch() {
        let query = document.getElementById('searchInput').value;
        albumLoop:
        for (let i=0; i<data.length; i++) {
            releaseLoop:
            for (let j=0; j<data[i].release_set.length; j++) {
                let rlsName = data[i].release_set[j].release_name.replace(/[\_\-]/g, ' ').toLowerCase();
                if (rlsName.includes(query.toLowerCase())) {
                    document.getElementById(i).classList.remove("hide");
                    break releaseLoop;
                } else {
                    document.getElementById(i).classList.add("hide");
                }
            }
        }
    }

    for (let i = 0; i < data.length; i++) {
        populateGallery(g, i, data[i].title, data[i].artist, data[i].cover_art, data[i].genre, data[i].date)
    }

    document.querySelector(".download-modal-close").onclick = function () {
        dlModal.style.display = "none";
        resetDownloadModal(dlModal);
    }

    window.onclick = function (event) {
        if (event.target === dlModal) {
            dlModal.style.display = "none";
            resetDownloadModal(dlModal);
        }
    }

    for (let i = 0; i < g.children.length; i++) {
        g.children[i].addEventListener('click', handleClicks, false);
    }

    document.getElementById('searchInput').onkeyup = handleSearch;

    function injectCss(css) {
        var head = document.head || document.getElementsByTagName('head')[0];
        var style = document.createElement('style');

        head.appendChild(style);

        style.type = 'text/css';
        if (style.styleSheet) {
            // This is required for IE8 and below.
            style.styleSheet.cssText = css;
        } else {
            style.appendChild(document.createTextNode(css));
        }
    }
    injectCss("{{ css }}");
</script>
<script src="https://pure-sierra-04823.herokuapp.com/static/dsca/dsca-link.js" async></script>