{% extends 'layout.html' %}

{% block title %}Dead Simple Counter App | {{ block.super }}
{% endblock %}

{% block content %}

<div class="inner-content mt-5">

  <div class="container">
    <div class="row head-section">
      <h1>Dead Simple Counter App</h1>
      <div class="row align-items-end justify-content-between">
        <div class="col-md-6">
          <h3>Total Count is {{ stats.total }} </h3>
        </div>
        <div class="col-md-2 mb-2">
          <a href="{% url 'dsca:daybook-list' %}">List All</a>
        </div>

      </div>
    </div>

    <div class="row mt-4 pt-3 pb-4 d-flex justify-content-center">
      <h4 class="text-center pb-3">Recent 30 Days count</h4>
      <ul style="display: none;">
        {% for i in stats.daily_count %}
        <li>{{ i.time__date }} : {{ i.dcount }}</li>
        {% endfor %}
      </ul>

      <div class="chart-container">
        <canvas id="dcount-chart"></canvas>
      </div>
    </div>

    <div class="row mt-4 pt-3 pb-4 d-flex justify-content-center">
      <h4 class="text-center">Top Downloaded</h4>
      <ul style="display: none;">
        {% for i in stats.file_count %}
        <li>{{ i.destination }} : {{ i.fcount }}</li>
        {% endfor %}
      </ul>

      <div class="chart-container">
        <canvas id="fcount-chart"></canvas>
      </div>
    </div>

    <div class="row mt-4 pt-3 pb-4 d-flex justify-content-center">
      <h4 class="text-center pb-3">Number of Count From Region</h4>
      <ul style="display: none;">
        {% for i in stats.country_count %}
        <li>{{ i.country }} : {{ i.ccount }}</li>
        {% endfor %}
      </ul>

      <div class="chart-container">
        <canvas id="ccount-chart"></canvas>
      </div>
    </div>


  </div>

</div>


<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"
  integrity="sha256-t9UJPrESBeG2ojKTIcFLPGF7nHi2vEc7f5A2KpH/UBU=" crossorigin="anonymous"></script>
<script>
  var fcountData = {};
  fcountData['labels'] = [{% for i in stats.file_count %} "{{ i.destination|safe }}", {% endfor %}];
  fcountData['dataset'] = [{% for i in stats.file_count %} {{ i.fcount|safe }}, {% endfor %}];

  var file_chrt = new Chart(document.getElementById('fcount-chart').getContext('2d'), {
    type: 'horizontalBar',
    data: {
      labels: fcountData['labels'],
      datasets: [{
        label: '# of Count',
        data: fcountData['dataset'],
        backgroundColor:
          'rgba(54, 162, 235, 0.2)',
        borderColor:
          'rgba(54, 162, 235, 1)',
        borderWidth: 1
      }]
    },
    options: {
      maintainAspectRatio: false,
      legend: {
        position: "right"
      },
      scales: {
        xAxes: [{
          ticks: {
            beginAtZero: true
          }
        }]
      }
    }
  });

  var ccountData = {};
  ccountData['labels'] = [{% for i in stats.country_count %} "{{ i.country|safe }}", {% endfor %}];
  ccountData['dataset'] = [{% for i in stats.country_count %} {{ i.ccount|safe }}, {% endfor %}];

  var cntry_chrt = new Chart(document.getElementById('ccount-chart').getContext('2d'), {
    type: 'doughnut',
    data: {
      labels: ccountData['labels'],
      datasets: [{
        label: '# of Count',
        data: ccountData['dataset'],
        backgroundColor: color_gen(ccountData['dataset'].length, 0.3)
      }]
    },
    options: {
      maintainAspectRatio: false,
      legend: {
        position: "right"
      }
    }
  });

  var dcountData = {};
  dcountData['labels'] = [{% for i in stats.daily_count %} "{{ i.time__date|safe }}", {% endfor %}];
  dcountData['dataset'] = [{% for i in stats.daily_count %} {{ i.dcount|safe }}, {% endfor %}];

  var daily_chrt = new Chart(document.getElementById('dcount-chart').getContext('2d'), {
    type: 'line',
    data: {
      labels: dcountData['labels'].reverse(),
      datasets: [{
        label: '# of Count',
        data: dcountData['dataset'].reverse(),
        fill: false,
        borderColor: 'rgba(54, 162, 235, 0.7)'
      }]
    },
    options: {
      maintainAspectRatio: false,
      legend: {
        position: "right"
      }
    }
  });

  function color_gen(len, alpha) {
    let colors = [];
    for (i=0; i<len; i++) {
      let r = Math.floor(Math.random() * 255);
      let g = Math.floor(Math.random() * 255);
      let b = Math.floor(Math.random() * 255);
      colors.push(`rgba(${r}, ${g}, ${b}, ${alpha})`);
    }

    return colors;
  }

</script>

{% endblock %}