{% extends 'layout.html' %}
{% load tz %}

{% block title %}Daybook | {{ block.super }}{% endblock %}

{% block content %}

{% get_current_timezone as TIME_ZONE %}

<div class="inner-content">
  <div class="container mt-5">
    <h1>Daybook</h1>
    <h5>Displayed as  
      <form action="" method="POST" class="d-inline">
        {% csrf_token %}
        <span>
          <select class="form-select form-select-sm d-inline w-auto" name="timezone" onchange="this.form.submit()">
            {% for tz in timezones %}
            <option value="{{ tz }}"{% if tz == TIME_ZONE %} selected{% endif %}>
              {{ tz }}
            </option>
            {% endfor %}
          </select>
        </span>
      </form>
      time
    </h5>

    <div class="list mt-3">
      <ul class="list-group list-group-flush">
        {% for record in object_list %}
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="record ms-1 me-auto">
            <div class="my-1">{{ record.referer|urlize }}</div>
            <div class="my-1">
              <span class="badge bg-secondary text-wrap">
                {{ record.time|date:"SHORT_DATE_FORMAT" }}
                {{ record.time|time:"H:i:s" }}
              </span>
              <span class="align-middle ms-2">
                <span>{{ record.country }}</span>
                <span><mark>{{ record.origin }}</mark></span>
              </span>
              <span class="align-middle fw-bold ms-2">
                <span>
                  {% if record.release_name %}
                    {{ record.release_name }}
                  {% else %}
                    {{ record.destination }}
                  {% endif %}
                </span>
              </span>
            </div>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

{% endblock %}
