body {
  height: 100vh;
}

.container.landing {
  justify-content: center;
}

.form-wrapper {
  padding-top: 4rem;
  margin-right: 0;
  margin-left: 0;
}

.preview-wrapper {
  padding-top: 60px;
  height: 65vh;
  overflow: scroll;
}

.sticky-bottom {
  bottom: 0;
  position: absolute;
  max-height: 35vh;
  width: 100%;
}

.inner-content {
  padding-top: 40px;
}

.signin {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-flow: column;
}

.chart-container {
  position: relative;
  height: 350px;
  width: 100%;
  max-width: 900px;
}

#np-login-msg {
  display: none;
}