body {
  height: 100vh;
}

.container.landing {
  justify-content: center;
}

.form-wrapper {
  padding-top: 4rem;
  margin-right: 0;
  margin-left: 0;
}

.preview-wrapper {
  padding-top: 60px;
  padding-bottom: 35vh;
  overflow: scroll;
}

.sticky-bottom {
  bottom: 0;
  position: absolute;
  height: 25vh;
  width: 100%;
}

.inner-content {
  padding-top: 40px;
}

.chart-container {
  position: relative;
  height: 200px;
  width: 100%;
}