.thread-content {
    line-height: 1.4;
    color: rgba(0, 0, 0, 0.9);
    font-family: Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0;
    position: relative;
    width: 100%;
}

.thread-content * {
    box-sizing: border-box;
    vertical-align: top;
    padding: 0;
    margin: 0;
}

.thread-content h1,
.thread-content h2,
.thread-content h3 {
    display: block;
}

.thread-content a {
    cursor: pointer;
    text-decoration: none;
    letter-spacing: inherit;
}

.thread-inner {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    padding: 0 0 0 50px;
}

.album-info {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 2 0;
}

.album-lockup {
    padding: 20px;
    top: 40px;
}

.album-artwork {
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 10%), 0 10px 13px 0 rgb(0 0 0 / 11%);
    position: relative;
}

.album-artwork-img {
    width: 350px;
    height: 350px;
}

.header-and-tracks {
    width: 100%;
    flex: 1;
}

.album-header {
    display: flex;
    flex-flow: column;
}

.album-header-meta {
    flex: 1;
    width: 100%;
}

.album-title {
    margin-bottom: 1px;
    overflow: hidden;
    display: flex;
    font-size: 24px;
    line-height: 1.16667;
    font-weight: 600;
    letter-spacing: 0;
    margin-block-start: 8px;
    margin-block-end: 8px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.album-artist {
    font-size: 24px;
    line-height: 1.16667;
    font-weight: 400;
    letter-spacing: 0;
    color: #543900;
    margin-block-start: 6px;
    margin-block-end: 6px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.album-meta-info {
    text-transform: uppercase;
    margin-top: 4px;
    color: rgba(60, 60, 67, 0.6);
    font-size: 11px;
    line-height: 1.18182;
    font-weight: 500;
    letter-spacing: 0;
    margin-block-start: 5px;
    margin-block-end: 5px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.album-notes {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0;
}

.description-container {
    overflow: hidden;
    position: relative;
}

.description-data>p {
    display: inline;
}

.line-title {
    color: rgba(60, 60, 67, 0.6);
}

.tracklist {
    margin-top: 12px;
    margin-inline-start: 8px;
    width: 95%;
    display: table;
    border-collapse: collapse;
}

.tracklist .tracklist-row {
    display: table-row;
    color: rgba(60, 60, 67, 0.6);
    height: 45px;
    border-bottom: 0.25px solid rgba(0, 0, 0, 0.15);
}

.tracklist .tracklist-col {
    padding-top: 0;
    padding-bottom: 0;
    display: table-cell;
    vertical-align: middle;
}

.tracklist-col.song-index {
    width: 2rem;
}

.tracklist .song-title {
    overflow: unset;
    color: rgba(0, 0, 0, 0.8);
}

.bottom-metadata {
    color: rgba(60, 60, 67, 0.6);
    padding-top: 20px;
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 0;
}

.song-stat-container,
.release-stat-container,
.release-footnotes {
    padding-bottom: 1px;
}

.hidden-info-wrapper {
    padding-top: 2px;
}

.hidden-info-content {
    font-weight: 500;
    color: rgba(0, 0, 0, 0.6);
}

.download-info {
    padding-top: 20px;
    padding-bottom: 15px;
    display: flex;
    flex-flow: column;
    flex: 0 0;
}

.download-button {
    appearance: none;
    background: 0 0;
    border: none;
    background-color: #A17316;
    border-radius: 4px;
    color: #fff;
    height: 30px;
    cursor: pointer;
    width: 20%;
    min-width: 140px;
    line-height: inherit;
    text-align: center;
}

.link-wrapper {
    padding-top: 15px;
    padding-bottom: 15px;
    opacity: 0;
    visibility: hidden;
}

.link-content {
    vertical-align: text-bottom;
}

.download-link a {
    color: rgba(0, 0, 0, 0.9);
    font-size: 14px;
    font-weight: 400;
}

.download-link a:hover {
    color: #A1276B;
}

.link-passcode {
    color: rgba(60, 60, 67, 0.6);
    font-size: 14px;
    font-weight: 500;
}

.show {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear 0s, opacity 300ms;
}

.download-modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: hidden; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.6);
}

.download-modal-content {
    position: relative;
    margin: 1rem;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: .3rem;
}

.download-modal-header {
    display: flex;
    padding: 1rem;
    border-bottom: 1px solid #dee2e6;
    justify-content: space-between;
    align-items: center;
}

.download-modal-close {
    font-size: 1.5rem;
    font-weight: 600;
}

.download-modal-close:hover,
.download-modal-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.download-modal-body {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    justify-content: space-evenly;
    align-items: center;
}

.download-modal-body a {
    overflow-wrap: anywhere;
}

.download-modal-footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    padding: .75rem;
    border-top: 1px solid #dee2e6;
}

.download-info .button-content {
    margin-top: 2rem;
}

@media only screen and (min-width: 576px) {
    .download-modal-content {
        margin: 6.75rem auto;
        max-width: 500px;
    }
}

@media only screen and (min-width: 1200px) {
    .thread-inner {
        flex-direction: row;
        align-items: flex-start;
        max-width: 1400px;
        margin: auto;
    }

    .download-info {
        position: sticky;
        top: 0;
        padding-top: 40px;
        align-items: center;
    }
}