{% extends "layout.html" %}

{% load static %}

{% block header %}
<script type="text/javascript" src="{% static 'postmaker/script.js' %}" async></script>
{% endblock %}

{% block title %}
Make A Post With Template | {{ block.super }}
{% endblock %}

{% block content %}
<div class="container mt-5">
  <div class="row justify-content-evenly">
    <div class="col-sm-5 col-md-4 col-lg-3 form-wrapper">
      <div class="mb-4">
        <h1>Make A Post</h1>
        <p class="lead text-secondary">Make an apple music style album info post</p>
        <p class="text-secondary">Fill in the table or enter an apple music url to let the robot fetch and parse information for you</p>
      </div>
      <div class="apl-wrapper">
        <div class="form-group">
          {% for field in aplfrm %}
          <div class="field-error">
            {{ field.errors }}
          </div>
          <div class="mb-2">
            {{ field.label_tag }}
          </div>
          <div class="input-group mb-3">
            {{ field }}
            <button class="btn btn-outline-secondary" type="button" href="#" id="{{ field.id_for_label|add:'-btn' }}">Get!</button>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="col-sm-7 col-md-8 col-lg-6 form-wrapper">
      <form action="" method="post">
        {% csrf_token %}
        <div class="form">

          {% for field in form %}
          <div class="field-error">
            {{ field.errors }}
          </div>
          <div class="input-group mb-3">
            <label class="input-group-text" for="{{ field.id_for_label }}">
              {{ field.label }}
            </label>

            {{ field }}
          </div>
          {% endfor %}

        </div>
        <div class="form-submit d-flex justify-content-end pb-3">
          <button type="submit" class="btn btn-primary float-right">Submit!</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
