{% extends "layout.html" %}

{% load static %}

{% block title %}
{{ release }} | {{ block.super }}
{% endblock %}

{% block content %}
<div class="container mt-5 pt-5">
  <div class="card text-center">
    <div class="card-header">
      Release - Posted
      {% if release.posted %}
      ✅
      {% else %}
      ❌
      {% endif %}
    </div>
    <div class="card-body">
      <h3 class="card-title">{{ release }}</h3>
      <p class="card-text"></p>
      <a href="{% url 'postmaker:release_detail_make' release.pk %}" class="btn btn-primary">
        Go make a forum post
      </a>
    </div>
    <div class="card-footer text-muted">
      {{ release.time|timesince }}
    </div>
  </div>
  <div>
    <a href="">
      
    </a>
  </div>
  <div class="form mt-5 pb-3">
    <form>
      {% for field in form %}
      <div class="field-error">
        {{ field.errors }}
      </div>
      <div class="input-group mb-3">
        <label class="input-group-text" for="{{ field.id_for_label }}">
          {{ field.label }}
        </label>

        {{ field }}
      </div>
      {% endfor %}
    </form>
  </div>
</div>
{% endblock %}
