{% extends "postmaker/release_base.html" %}

{% block title %}
Editing {{ object }} | {{ block.super }}
{% endblock %}

{% block release_specific %}
<div class="mt-2 pb-3">
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <div class="py-3 d-grid gap-2 d-md-flex justify-content-md-end">
            <a class="btn btn-secondary" href="{{ object.get_absolute_url }}">Cancel</a>
            <input class="btn btn-primary" type="submit" value="Update">
        </div>
    </form>
</div>
{% endblock %}