{% extends "layout.html" %}

{% load static %}

{% block title %}
{{ object }} | {{ block.super }}
{% endblock %}

{% block content %}
<div class="container mt-5 pt-5">
  <div class="card text-center">
    <div class="card-header">
      Release - Posted
      {% if object.posted %}
      ✅
      {% else %}
      ❌
      {% endif %}
    </div>
    <div class="card-body">
      <h3 class="card-title">{{ object }}</h3>
      <p class="card-text"></p>
      <div class="btn-arr d-flex flex-row justify-content-around">
        <a href="{% url 'postmaker:release-albumpost-create' object.pk %}" class="btn btn-primary">
          Go make a forum post
        </a>
        <div class="input-group" style="max-width: 250px;">
          {% csrf_token %}
          <input type="hidden" id="pk" name="pk" value="{{ object.pk }}">
          <input class="form-control" id="adamIDInput" type="text">
          <button type="button" class="btn btn-outline-secondary" id="adamIDPostBtn">Post As ID</button>
        </div>
      </div>
    </div>
    <div class="card-footer text-muted">
      {{ object.time|timesince }}
    </div>
  </div>

  {% block release_specific %}
  {% endblock %}

</div>
<script>
  var postButton = document.getElementById("adamIDPostBtn");
  var infoBox = document.getElementsByClassName("card-header")[0];

  postButton.onclick = () => {
    let api_url = "/api/np/post-with-id/";
    let pk = document.getElementById("pk").value;
    let a_id = document.getElementById("adamIDInput").value;
    let token = document.querySelector('[name=csrfmiddlewaretoken]').value;
    let data = {
      'pk': pk,
      'a_id': a_id
    };

    let spinner = document.createElement("span");
    infoBox.textContent = "...";
    spinner.classList.add("spinner-border", "spinner-border-sm");
    postButton.textContent = "";
    postButton.appendChild(spinner);

    fetch(api_url, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
        'X-CSRFToken': token
      },
      body: JSON.stringify(data)
    })
      .then(response => {
        postButton.removeChild(postButton.firstChild);
        postButton.textContent = "Post As ID";

        return response.json();
      })
      .then((content) => {
        if (content["error"]) {
          infoBox.textContent = content["error"];
        } else {
          infoBox.textContent = "Release - Posted ✅";
        }
      });
  }
</script>
{% endblock %}