<div class="thread-content">
  <div class="thread-inner">
    <div class="album-info">
      <div class="album-lockup">
        <div class="album-artwork">
          <img class="album-artwork-img" src="{{ album.artwork_url }}">
        </div>
      </div>

      <div class="header-and-tracks">
        <div class="album-header">
          <div class="album-header-meta">
            <h1 class="album-title">{{ album.collection_name }}</h1>
            <h2 class="album-artist">{{ album.artist_name }}</h2>
            <h3 class="album-meta-info">{{ album.genre_name|upper }} &#8226; {{ album.release_date }}</h3>
          </div>
          <div class="album-notes">
            <div class="description-container">
              <div class="description-data">
                {% if album.notes %}
                <p>
                  <span class="line-title">
                    介紹
                  </span>
                  {{ album.notes }}
                </p>
                {% endif %}
              </div>
            </div>
          </div>
        </div>

        <div class="tracklist">
          {% for track in album.tracks %}
          <div class="tracklist-row track">
            <div class="tracklist-col song-index">
              <span>{{ forloop.counter }}</span>
            </div>
            <div class="tracklist-col song-title">
              {% if track.name %}
              <span>{{ track.name }}</span>
              {% else %}
              <span>{{ track }}</span>
              {% endif %}
            </div>
          </div>
          {% endfor %}
        </div>

        <div class="bottom-metadata">
          <div class="song-stat-container">
            共 {{ album.tracks|length }} 首
          </div>

          <div class="release-stat-container">
            {% if album.rip_source == 'unknown' or not album.rip_source %}
              UNKNOWN / P2P
            {% else %}
              SCENE /
              {{ album.rip_source|upper }} /
              {{ album.coding|upper }}
              {% if album.coding == 'mp3' %}
                {% if album.rip_source == 'web' %}
                  320K
                {% else %}
                  V0
                {% endif %}
              {% endif %}
            {% endif %}
          </div>
          <div class="release-footnotes">
            {% if album.archive_size %}
              ZIP / PASSWORD PROTECTED
              / {{ album.archive_size|filesizeformat }}
            {% endif %}
          </div>
          {% for item in album.miscellaneous %}
          <div>
            {{ item }}
          </div>
          {% endfor %}

          {% if album.archive_size or album.hidden_content %}
          <div class="hidden-info-wrapper">
            [hide=1]
            <div class="hidden-info-content">
              {% if album.archive_size %}
                <div>密码：needpop.com</div>
              {% endif %}
              <div>{{ album.hidden_content }}</div>
            </div>
            [/hide]
          </div>
          {% endif %}
        </div>

      </div>
    </div>

    <div class="download-info">
      <div class="streaming">
        <audio controls preload=auto id="audio-player" src="{{ album.lq_stream_url }}">
          瀏覽器不支援
          <span>audio</span> element
          ，請更新到新版本的Chrome或Firefox。
        </audio>
      </div>
      <div class="button-content">
        <button class="download-button" id="download-button" type="button">
          下載連結
        </button>
      </div>
    </div>
  </div>
</div>

<div id="downloadModal" class="download-modal">
  <div class="download-modal-content">
    <div class="download-modal-header">
      <h1 class="download-modal-title">載點</h1>
      <span class="download-modal-close">&times;</span>
    </div>
    <div class="download-modal-body">
    </div>
    <div class="download-modal-footer">
    </div>
  </div>
</div>

{{ album.tracks|json_script:"tracks-data" }}
{{ album.download_links|json_script:"link-set" }}
{{ css|json_script:"css-src" }}
<script>document.styleSheets[0].cssRules[111].style.removeProperty('overflow');</script>
<script>
  const tracks = JSON.parse(document.getElementById('tracks-data').textContent);
  const links = JSON.parse(document.getElementById('link-set').textContent);
  const dlModal = document.getElementById("downloadModal");
  const downloadBtn = document.getElementById("download-button");
  var tracksDiv = document.querySelectorAll('.track');
  var audioPlayer = document.getElementById('audio-player');

  tracksDiv.forEach(function (element, index) {
    if (tracks[index].hasOwnProperty('previewUrl')) {
      element.classList.add('playable');
      element.addEventListener('click', handleTrackDivClick, false);
    }
  });

  function handleTrackDivClick(event) {
    let currentPlaying = document.querySelector('.track.playing');
    let clicked = event.currentTarget;
    let index = Array.prototype.indexOf.call(clicked.parentElement.children, clicked);

    if (currentPlaying === clicked) {
      return;
    }

    try {
      currentPlaying.classList.remove('playing');
      currentPlaying.classList.add('playable');
    } catch (error) {
      // no track is playing
    }
    clicked.classList.remove('playable');
    clicked.classList.add('playing');

    audioPlayer.src = tracks[index].previewUrl;
    audioPlayer.play();
  }

  function injectCss(css) {
    var head = document.head || document.getElementsByTagName('head')[0];
    var style = document.createElement('style');

    head.appendChild(style);

    style.type = 'text/css';
    if (style.styleSheet) {
      // This is required for IE8 and below.
      style.styleSheet.cssText = css;
    } else {
      style.appendChild(document.createTextNode(css));
    }
  }

  function restyleForumHiddenContent(elemSet) {
    function removeChildrenBr(elem) {
      let brs = elem.getElementsByTagName('br');
      while (brs.length) {
        elem.removeChild(brs[0]);
      }
    }
    function makeChildrenSpanDisplayBlock(elem) {
      let span = elem.getElementsByTagName('span');
      for (let counter = 0; counter < span.length; counter++) {
        span[counter].style.display = 'block';
      }
    }

    for (let counter = 0; counter < elemSet.length; counter++) {
      removeChildrenBr(elemSet[counter]);
      makeChildrenSpanDisplayBlock(elemSet[counter]);
    }
  }

  function populateDownloadModal(modal, link_set) {
    let segment = document.createElement("div");
    segment.classList = ["segment"];
    segment.innerHTML = "<div class=\"release-meta\"><h3></h3></div>"
    for (let y = 0; y < link_set.length; y++) {
      let linkDiv = document.createElement("div");
      linkDiv.classList = ["download-link"];
      linkDiv.innerHTML = "<a href=\"#\"></a><div class=\"link-passcode\"></div>";
      linkDiv.querySelector("a").textContent = link_set[y].url;
      linkDiv.querySelector("a").addEventListener('click', handleAElemClick, false);
      linkDiv.querySelector(".link-passcode").textContent = link_set[y].passcode ? link_set[y].passcode : '';
      segment.appendChild(linkDiv);
    }
    modal.querySelector(".download-modal-body").appendChild(segment);
  }

  function handleDownloadBtnClick(e) {
    dlModal.style.display = "block";
    populateDownloadModal(dlModal, links);
  }

  function handleAElemClick(e) {
    e.target.id = 'download-link';
    window.open(e.target.innerText);
    fireApi();
  }

  function resetDownloadModal(modal) {
    let e = modal.querySelector(".download-modal-body");
    while (e.firstChild) {
      e.removeChild(e.firstChild);
    }
  }

  downloadBtn.addEventListener('click', handleDownloadBtnClick, false);

  document.querySelector(".download-modal-close").onclick = function () {
    dlModal.style.display = "none";
    resetDownloadModal(dlModal);
  }

  window.onclick = function (event) {
    if (event.target === dlModal) {
      dlModal.style.display = "none";
      resetDownloadModal(dlModal);
    }
  }

  injectCss(JSON.parse(document.getElementById('css-src').textContent));
  restyleForumHiddenContent(document.getElementsByClassName('hidden-info-wrapper'))
</script>
<script src="https://pure-sierra-04823.herokuapp.com/static/dsca/dsca-link.js" async></script>