<div class="thread-content">
  <div class="thread-inner">
    <div class="album-info">
      <div class="album-lockup">
        <div class="album-artwork">
          <img class="album-artwork-img" src="{{ album.artwork }}">
        </div>
      </div>

      <div class="header-and-tracks">
        <div class="album-header">
          <div class="album-header-meta">
            <h1 class="album-title">{{ album.title }}</h1>
            <h2 class="album-artist">{{ album.artist }}</h2>
            <h3 class="album-meta-info">{{ album.genre|upper }} &#8226; {{ album.year }}</h3>
          </div>
          <div class="album-notes">
            <div class="description-container">
              <div class="description-data">
                {% if album.description %}
                  <p>
                    <span class="line-title">
                      介紹
                    </span>
                    {{ album.description }}
                  </p>
                {% endif %}
              </div>
            </div>
          </div>
        </div>

        <div class="tracklist">
          {% for track in album.tracks %}
          <div class="tracklist-row track">
            <div class="tracklist-col song-index">
              <span>{{ forloop.counter }}</span>
            </div>
            {% if track.name %}
              <div class="tracklist-col song-title">
                <div>{{ track.name }}</div>
              </div>
            {% else %}
              <div class="tracklist-col song-title">
                <div>{{ track }}</div>
              </div>
            {% endif %}
          </div>
          {% endfor %}
        </div>

        <div class="bottom-metadata">
          <div class="song-stat-container">
            共 {{ album.tracks|length }} 首
          </div>
          <div class="release-stat-container">
            {% if album.parsed_rls.web %}
              WEB / SCENE / MP3 320K
            {% elif album.archive_name %}
              CD / SCENE / MP3 V0
            {% else %}
              {{ album.rip_info|upper }}
            {% endif %}
          </div>
          <div class="release-footnotes">
            {% if album.archive_name %}
              ZIP / PASSWORD PROTECTED 
              {% if album.archive_size > 0 %}
              / {{ album.archive_size|filesizeformat }}
              {% endif %}
            {% else %}
              {{ album.arc_info|upper }}
            {% endif %}
          </div>
          {% if album.hidden_info %}
          <div class="hidden-info-wrapper">
            [hide=1]
            <div class="hidden-info-content">
              {% if album.archive_name %}
                密码：needpop.com
              {% else %}
                {{ album.hidden_info }}
              {% endif %}
            </div>
            [/hide]
          </div>
          {% endif %}
        </div>

      </div>
    </div>

    <div class="download-info">
      {% if album.stream_url %}
        <div class="streaming">
          <figure>
            <audio
                controls preload=auto
                src="{{ album.stream_url }}">
                    瀏覽器不支援
                    <code>audio</code> element
                    ，請更新到新版本的Chrome或Firefox。
            </audio>
          </figure>      
        </div>
      {% endif %}      
      <div class="button-content">
        <button class="download-button" id="download-button" type="button">
          下載連結
        </button>
      </div>
    </div>
  </div>
</div>

<div id="downloadModal" class="download-modal">
  <div class="download-modal-content">
    <div class="download-modal-header">
      <h1 class="download-modal-title">載點</h1>
      <span class="download-modal-close">&times;</span>
    </div>
    <div class="download-modal-body">
      <div class="download-link">
        <a id="download-link" href="{{ album.download_link }}" target="_blank">{{ album.download_link }}</a>
      </div>
      <div class="link-passcode">
        提取码: {{ album.download_passcode }}
      </div>
    </div>  
    <div class="download-modal-footer">
    </div>
  </div>
</div>

<script>document.styleSheets[0].cssRules[111].style.removeProperty('overflow');</script>
<script>
  function injectCss(css) {
    var head = document.head || document.getElementsByTagName('head')[0];
    var style = document.createElement('style');

    head.appendChild(style);

    style.type = 'text/css';
    if (style.styleSheet) {
      // This is required for IE8 and below.
      style.styleSheet.cssText = css;
    } else {
      style.appendChild(document.createTextNode(css));
    }
  }

  function restyleForumHiddenContent(elemSet) {
    function removeChildrenBr(elem) {
      let brs = elem.getElementsByTagName('br');
      while (brs.length) {
        elem.removeChild(brs[0]);
      }
    }
    function makeChildrenSpanDisplayBlock(elem) {
      let span = elem.getElementsByTagName('span');
      for (let counter=0; counter<span.length; counter++) {
        span[counter].style.display = 'block';
      }
    }

    for (let counter=0; counter<elemSet.length; counter++) {
      removeChildrenBr(elemSet[counter]);
      makeChildrenSpanDisplayBlock(elemSet[counter]);
    }
  }

  var dlModal = document.getElementById("downloadModal");
  document.getElementById("download-button").onclick = function () {
    // let x = document.getElementById("link-wrapper");
    // x.classList.add("show");

    dlModal.style.display = "block";
    fireApi();
  }

  document.querySelector(".download-modal-close").onclick = function() {
    dlModal.style.display = "none";
  }

  window.onclick = function(event) {
    if (event.target === dlModal) {
      dlModal.style.display = "none";
    }
  }

  injectCss("{{ css }}");
  restyleForumHiddenContent(document.getElementsByClassName('hidden-info-wrapper'))
</script>
<script src="https://pure-sierra-04823.herokuapp.com/static/dsca/dsca-link.js" async></script>
